  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <mf-sidebar *axLazyElement="linkSidebar"></mf-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <mf-header *axLazyElement="linkHeader"></mf-header>

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" id="contentArea">

          <!-- <mf-dashboard *axLazyElement="linkDashboard"></mf-dashboard> -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->

      <mf-footer *axLazyElement="linkFooter"></mf-footer>

      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->



  <!-- <script>
    // import {Router} from '@vaadin/router'; // for Webpack / Polymer CLI
    // const Router = Vaadin.Router; // for vaadin-router.umd.js

    const router = new Router(document.getElementById('contentArea'));
    router.setRoutes([
    {
                    path: '/dashboard',
                    component: 'mf-dashboard',
                    action: async () => {
                        await import(linkDashboard);
                    }
                }

    ]);
  </script> -->
